body {
    background-color: #0c0e0e;
    height:100%;
}

.wrapper {
   width: 800px auto;
   margin: 30px auto;
   color: #fff;
   text-align: center;
}

h1, h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: uppercase;
}

#seconds, #tens {
    font-size:2rem;
}

button{
border-radius: 10px;
background-color: #040403;
color: #fff;
border: solid 3px rgb(167, 17, 17);
text-decoration: none;
cursor: pointer;
font-size: 1.2rem;
padding: 18px;
margin: 10px;
outline: none;

}

